* {
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

html {
  scrollbar-color: #999 #ddd;
}

body {
  font-family: Noto Sans;
  flex-direction: column;
  overflow-y: scroll;
  background: whitesmoke;
  min-height: 100vh;
  display: flex;
  color: #333;
  margin: 0;
}

article {
  min-height: calc(100vh - 100px);
  flex: 1;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  align-items: center;
  font-weight: 600;
  display: flex;
  height: 20px;
  margin: 7px 0;
}

.sidebar a .type-badge {
  flex: 0 0 auto;
}

.sidebar a span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar a.active,
.sidebar a:hover {
  color: #02b046;
}

.guide .guide-content > *:first-child {
  margin-top: 0;
}

.guide .guide-content > *:last-child {
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .guide .guide-content {
    font-size: 16px;
  }
}

.guide .guide-content img {
  max-width: 100%;
}

.guide .guide-content h1,
.guide .guide-content h2,
.guide .guide-content h3,
.guide .guide-content h4,
.guide .guide-content h5 {
  font-family: "Courgette", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  color: #333;
  margin: 0;
  margin-bottom: 20px;
}

.guide .guide-content h1 {
  position: relative;
  border-bottom: 2px dashed #CCC;
  padding-bottom: 0.3em;
  font-size: 2em;
}

.guide .guide-content h1 small {
  font-weight: 500;
  font-size: 14px;
  display: block;
  color: #999;
}

.guide .guide-content h1 .type-badge {
  position: relative;
  top: -8px;
  left: 16px;
  scale: 1.5;
}

.guide .guide-content h1 .github-source-link {
  margin-top: 12px;
}

@media (max-width: 1200px) {
  .guide .guide-content h1 {
    font-size: 1.7em;
  }
}

.guide .guide-content h2 {
  border-bottom: 2px dashed #CCC;
  padding-bottom: 0.3em;
  margin-top: 2em;
  font-size: 1.5em;
}

.guide .guide-content h2 a {
  color: #333;
}

@media (max-width: 1200px) {
  .guide .guide-content h2 {
    font-size: 1.3em;
  }
}

.guide .guide-content h3 {
  margin-top: 1.5em;
  font-size: 1.25em;
}

.guide .guide-content li > ul {
  margin-top: 0;
  margin-bottom: 0;
}

.guide .guide-content li > pre,
.guide .guide-content li + li,
.guide .guide-content li > ul {
  margin-top: 7px;
}

.guide .guide-content ul {
  padding-left: 30px;
}

.guide .guide-content code:not(.language-mint) {
  white-space: pre;
  background: #eee;
  padding: 3px 6px;
  border-radius: 2px;
}

.guide .guide-content b,
.guide .guide-content strong {
  color: #333;
}

.guide .guide-content p,
.guide .guide-content ul,
.guide .guide-content ol,
.guide .guide-content pre,
.guide .guide-content blockqoute {
  margin: 0;
  margin-bottom: 15px;
}

.guide .guide-content a {
  text-decoration: none;
  color: #02b046;
}

.guide .guide-content p.hint {
  grid-template-columns: min-content 1fr;
  grid-gap: 10px;
  display: grid;
  background: #eee;
  padding: 20px;
}

.guide .guide-content p.hint svg {
  align-self: center;
  margin-right: 10px;
  height: 24px;
  width: 24px;
}

.guide .guide-content p.hint code:not(.language-mint) {
  background: #ddd;
}

@media (max-width: 1200px) {
  .guide .guide-content p.hint {
    grid-template-columns: 1fr;
  }
  .guide .guide-content p.hint svg {
    display: none;
  }
}

.guide .guide-content p.hint--warning {
  border-left: 4px solid orangered;
}

.guide .guide-content p.hint--warning svg {
  fill: orangered;
}

.guide .guide-content p.hint--info {
  border-left: 4px solid #3884ff;
}

.guide .guide-content p.hint--info svg {
  fill: #3884ff;
}

.guide .guide-content table {
  border-collapse: collapse;
  width: 100%;
}

.guide .guide-content table th,
.guide .guide-content table td {
  text-align: left;
  padding: 8px;
}

.guide .guide-content table tr + tr td {
  border-top: 1px solid #ccc;
}

.guide .guide-content table thead th {
  border-bottom: 2px solid #e6ecf1;
  font-weight: bold;
  color: #999;
}

.guide .guide-content blockqoute {
  border-left: 4px solid #ccc;
  display: block;
  padding: 20px;
  color: #666;
}

.guide .guide-content hr {
  margin: 30px 0;
  border: 0;
  border-top: 3px double #ccc;
}

.guide {
  grid-template-columns: minmax(330px, 1fr) 900px 1fr;
  padding-bottom: 100px;
  display: grid;
}

.guide--wide {
  grid-template-columns: minmax(400px, 1fr) 900px 1fr;
}

@media (max-width: 1330px) {
  .guide {
    grid-template-columns: 300px 1fr;
  }
}

@media (max-width: 1200px) {
  .guide {
    grid-template-columns: 1fr;
    padding-bottom: 0;
  }
}

.page {
  padding: 40px 60px;
  max-width: 1620px;
  margin: 0 auto;
}

.page__package {
  border-bottom: 2px dashed #CCC;
  font-family: Courgette;
  font-size: 2em;
  line-height: 1.5;
  padding-bottom: 0.3em;
}

.page__package strong {
  font-weight: 600;
}

@media (max-width: 1200px) {
  .page {
    padding: 40px;
  }
}

@media (max-width: 960px) {
  .page {
    padding: 20px;
    padding-bottom: 40px;
  }
}

.toc {
  transition: opacity 320ms;
  display: grid;
}

.toc__wrapper {
  border-right: 2px dashed #ccc;
  transition: transform 320ms;
  box-sizing: border-box;
  padding-right: 50px;
  margin-right: 50px;
}

.toc__spacer {
  margin-top: 20px;
}

.toc__page {
  text-decoration: none;
  font-weight: 600;
  display: block;
  color: #333;
  margin-top: 5px;
  /* It's only used for the blog posts. */
}

.toc__page.active,
.toc__page:hover {
  color: #02b046;
}

.toc__page div {
  align-items: center;
  display: flex;
}

.toc__page svg {
  fill: currentColor;
  margin-right: 7px;
}

.toc__page small {
  margin-bottom: 15px;
  display: block;
  color: #aaa;
}

.toc__pages > .toc__pages {
  padding-left: 15px;
  margin-left: 5px;
  margin-top: 7px;
  border-left: 2px dashed #ccc;
}

.toc__section {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #999;
  margin-bottom: 5px;
}

.toc__section:not(:first-child) {
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .toc {
    background: rgba(20, 20, 20, 0.9);
    position: fixed;
    z-index: 500;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
  }
  .toc--open {
    pointer-events: auto;
    opacity: 1;
  }
  .toc--open .toc__wrapper {
    transform: translateX(0);
  }
  .toc__wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(-330px);
    background: white;
    padding: 20px;
    width: 280px;
    margin: 0;
  }
}

.toc-mobile {
  -webkit-touch-callout: none;
  display: none;
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 3px;
  background: #eee;
  cursor: pointer;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .toc-mobile {
    display: flex;
  }
}

.type-badge {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  margin-right: 7px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 12px;
  height: 20px;
  width: 20px;
  color: #fff;
}

.type-badge[data-type="property"] {
  background: #23aaaa;
}

.type-badge[data-type="property"]::before {
  content: "P";
}

.type-badge[data-type="state"] {
  background: orange;
}

.type-badge[data-type="state"]::before {
  content: "S";
}

.type-badge[data-type="function"] {
  background: black;
}

.type-badge[data-type="function"]::before {
  content: "F";
}

.type-badge[data-type="component"] {
  background: #369e58;
}

.type-badge[data-type="component"]::before {
  content: "C";
}

.type-badge[data-type="provider"] {
  background: #ff7b00;
}

.type-badge[data-type="provider"]::before {
  content: "P";
}

.type-badge[data-type="record"] {
  background: #673ab7;
}

.type-badge[data-type="record"]::before {
  content: "R";
}

.type-badge[data-type="module"] {
  background: #be08d0;
}

.type-badge[data-type="module"]::before {
  content: "M";
}

.type-badge[data-type="store"] {
  background: #d02e2e;
}

.type-badge[data-type="store"]::before {
  content: "S";
}

.type-badge[data-type="type"] {
  background: #00bbb5;
}

.type-badge[data-type="type"]::before {
  content: "T";
}

.guide .guide-content h2 a {
  color: #333;
}

.guide-content > .entity__body {
  margin: 0;
  padding: 0;
}

.guide .guide-content a:hover,
.entity__type a:hover {
  text-decoration: underline;
}

.entity__signature {
  position: relative;
}

.entity__type.entity__type a {
  color: #f77900;
}

.entity__name + .entity__type::before,
.entity__label + .entity__type::before,
.entity__operator + .entity__type::before {
  content: ":";
  color: #aaa;
  margin-left: 5px;
}

.version__dependency a {
  color: #02b046;
}

.entity {
  padding: 10px 0;
}

.entity + a + .entity {
  border-top: 1px solid #eee;
  padding-top: 30px;
  margin-top: 15px;
}

.entity__body {
  padding-top: 20px;
  margin-left: 20px;
}

.entity__body > *:first-child {
  margin-top: 0;
}

.entity__body > *:last-child {
  margin-bottom: 0;
}

.entity__body .language-mint {
  max-width: 880px;
  font-size: 16px;
  line-height: 1.5;
  overflow: auto;
}

@media (max-width: 1000px) {
  .entity__body .language-mint {
    max-width: calc(100vw - 90px);
  }
}

.entity__argument {
  display: flex;
}

.entity__argument + .entity__argument::before {
  margin-right: 10px;
  color: #aaa;
  content: ",";
}

.entity__operator {
  margin: 0 5px;
  color: #aaa;
}

.entity__operator + .entity__operator {
  margin-left: 0;
}

.entity__type {
  color: #f77900;
}

.entity__name {
  text-decoration: none;
  font-weight: 600;
  color: #29c;
}

.entity__default {
  border: 1px solid #eee;
  border-radius: 2px;
  background: #f6f6f6;
  font-size: 16px;
  padding: 10px;
  margin: 0;
  margin-left: 5px;
}

.entity__default--block {
  font-family: monospace;
  display: inline-block;
  white-space: pre-wrap;
  padding-right: 50px;
  margin-left: 30px;
  margin-top: 15px;
}

.entity__signature {
  font-family: monospace;
  align-items: center;
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
}

.entity__type-parameter + .entity__type-parameter::before {
  content: ",";
  margin-right: 10px;
}

a.github-source-link.github-source-link {
  background: white;
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  right: 0;
  top: 0;
}

a.github-source-link::before {
  content: "\003C\002F\003E";
}

a.github-source-link:hover {
  color: black;
}

.input-search {
  position: relative;
}

.input-search svg {
  position: absolute;
  right: 11px;
  top: 11px;
  fill: #333;
}

.input-search input {
  border: 2px solid #CCC;
  padding: 0 10px;
  height: 36px;
  width: 100%;
}

.input-search input:focus {
  outline: none;
  border-color: #02b046;
}

svg {
  max-width: 100%;
}

pre {
  border: 1px dashed currentColor;
  background: #FCFCFC;
  position: relative;
  min-width: 600px;
  font-size: 16px;
  margin: 0;
  outline: 1px solid #CCC;
  outline-offset: 3px;
}

pre code {
  background: white;
  color: #333;
  display: block;
  overflow-x: auto;
  padding: 15px;
}

.language-mint .comment {
  color: #5c6370;
  font-style: italic;
}

.language-mint .keyword {
  color: darkmagenta;
}

.language-mint .namespace {
  color: orangered;
}

.language-mint .string {
  color: seagreen;
}

.language-mint .type {
  color: royalblue;
}

.language-mint .emphasis {
  font-style: italic;
}

.language-mint .strong {
  font-weight: 700;
}

.language-mint .link {
  text-decoration: underline;
}
