<!DOCTYPE html>
<html>
  <head>
    <meta charset="<%= application.meta["charset"]? || "utf-8" %>">
    <title><%= application.title %></title>
    <% unless @no_manifest %>
      <link rel="manifest" href="<%= path_for("manifest.webmanifest") %>">
    <% end %>
    <% application.meta.each do |name, content| %>
      <% next if name == "charset" %>
      <meta name="<%= name %>" content="<%= content %>">
    <% end %>
    <meta name="theme-color" content="<%= application.theme %>">
    <%= application.head %>

    <% unless @no_icons || application.icon.empty? %>
      <% ICON_SIZES.each do |size| %>
        <link rel="icon" type="image/png" href="<%= path_for("icon-#{size}x#{size}.png") %>" size="<%= "#{size}x#{size}" %>">
      <% end %>
      <% {152, 167, 180}.each do |size| %>
        <link rel="apple-touch-icon-precomposed" href="<%= path_for("icon-#{size}x#{size}.png") %>">
      <% end %>
    <% end %>

    <% if SourceFiles.external_stylesheets? %>
      <% if @inline %>
        <style>
          <%= SourceFiles.external_stylesheets %>
        </style>
      <% else %>
        <link rel="stylesheet" href="<%= path_for("external-stylesheets.css") %>">
      <% end %>
    <% end %>
  </head>
  <body>
    <%# In development runtime comes separately and %>
    <%# the live reload script necessary. %>
    <% if env.development? %>
      <% if @live_reload %>
        <script src="<%= path_for("live-reload.js") %>"></script>
      <% end %>
    <% else %>
      <% unless @no_service_worker %>
        <script>
          if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
              navigator.serviceWorker.register('<%= path_for("service-worker.js") %>');
            });
          }
        </script>
      <% end %>
    <% end %>

    <% if SourceFiles.external_javascripts? %>
      <% if @inline %>
        <script>
          <%= SourceFiles.external_javascripts %>
        </style>
      <% else %>
        <script src="<%= path_for("external-javascripts.js") %>"></script>
      <% end %>
    <% end %>
    
    <% if @inline %>
      <script>
        <%= @index_js %>
      </script>
    <% else %>
      <script src="<%= path_for("index.js") %>" type="module"></script>
      <link rel="stylesheet" href="<%= path_for("index.css") %>"/>
    <% end %>

    <noscript>
      This application requires JavaScript.
    </noscript>
  </body>
</html>
