<div class="entity">
  <div class="entity__signature">
    <a class="entity__name" href="<%= anchor_url(node) %>">
      <%= stringify(node) %>
    </a>

    <% if node.parameters.to_a.any? %>
      <div class="entity__signature">(
        <% node.parameters.each do |p| %>
          <%= generate(p) %>
        <% end %>
      )
    <% end %>

    <a class="github-source-link" href="<%= git_url(node) %>"></a>
  </div>

  <%= comment(node) %>
</div>