<h1>
  <%= stringify(node) %>
  <div class="type-badge" data-type="enum"></div>
  <a class="github-source-link" href="<%= git_url(node) %>"></a>
</h1>

<%= comment(node) %>

<h2>Options</h2>

<% node.options.each do |option| %>
  <a name="<%= stringify(option) %>"></a>
  
  <%= generate(option) %>
<% end %>
