<!DOCTYPE html>
<html lang="en">
  <head>
    <% if @base != "" %>
      <base href="<%= @base %>">
    <% end %>
    <meta charset="utf-8" />
    <title><%= @mint_json.name %> | <%= @page %></title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="<%= @base %>favicon"
    />
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
      name="viewport"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700|Source+Code+Pro:400,600|M+PLUS+Rounded+1c:500,700&amp;display=swap"
    />
    <link rel="stylesheet" href="<%= @base %>app.css"></style>
  </head>
  <body>
    <article>
      <div class="page">
        <div class="guide guide--wide">
          <div id="toc-mobile" class="toc-mobile">
            Pages
            <svg
              width="14"
              class="octicon octicon-chevron-down"
              viewBox="0 0 10 16"
              version="1.1"
              height="22"
              aria-hidden="true"
            >
              <path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6l-5 5z" />
            </svg>
          </div>
          <div id="toc" class="toc">
            <div id="toc-wrapper" class="toc__wrapper">
              <div class="page__package">
                <strong><%= @mint_json.name %></strong>
              </div>

              <div class="toc__section">Basic information</div>
              
              <div class="toc__pages">
                <a class="toc__page" href="<%= readme_url %>">
                  <div>
                    <svg
                      class="octicon octicon-book"
                      viewBox="0 0 16 16"
                      version="1.1"
                      width="16"
                      height="16"
                      aria-hidden="true"
                    >
                      <path fill-rule="evenodd" d="M3 5h4v1H3V5zm0 3h4V7H3v1zm0 2h4V9H3v1zm11-5h-4v1h4V5zm0 2h-4v1h4V7zm0 2h-4v1h4V9zm2-6v9c0 .55-.45 1-1 1H9.5l-1 1-1-1H2c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h5.5l1 1 1-1H15c.55 0 1 .45 1 1zm-8 .5L7.5 3H2v9h6V3.5zm7-.5H9.5l-.5.5V12h6V3z" />
                    </svg>
                    README
                  </div> 
                </a>

                <% if !@mint_json.source_url.empty? %>
                  <a class="toc__page" href="<%= @mint_json.source_url %>">
                    <div>
                      <svg
                        class="octicon octicon-mark-github"
                        viewBox="0 0 16 16"
                        version="1.1"
                        width="16"
                        height="16"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"
                        ></path>
                      </svg>
                      Source on GitHub
                    </div>
                  </a>
                <% end %>
              </div>

              <div class="toc__section">Entities</div>

              <div class="input-search">
                <svg
                  class="octicon octicon-search"
                  viewBox="0 0 16 16"
                  version="1.1"
                  width="16"
                  height="16"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0013 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 000-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z"
                  ></path>
                </svg>
                <input
                  id="search"
                  placeholder="Filter entities... "
                />
              </div>

              <div class="toc__pages" id="sidebar">
                <div class="sidebar">
                  <% @ast.components.sort_by(&.name.value).each do |c| %> 
                    <%= nav_item(c, "components") %> 
                  <% end %>
                  
                  <% @ast.modules.sort_by(&.name.value).each do |c| %> 
                    <%= nav_item(c, "modules") %> 
                  <% end %>
                  
                  <% @ast.providers.sort_by(&.name.value).each do |c| %> 
                    <%= nav_item(c, "providers") %> 
                  <% end %>
                  
                  <% @ast.stores.sort_by(&.name.value).each do |c| %> 
                    <%= nav_item(c, "stores") %> 
                  <% end %>

                  <% @ast.type_definitions.sort_by(&.name.value).each do |c| %> 
                    <%= nav_item(c, "types") %> 
                  <% end %>
                </div>
              </div>

              <div class="toc__section">Dependencies</div>

              <div class="version__dependencies">
                <% if @mint_json.dependencies.each == 0 %>
                  <div class="version__dependency">
                    No Dependencies
                  </div>
                <% else %>
                  <% @mint_json.dependencies.each do |d|%>
                    <div class="version__dependency">
                      <a href="<%= d.repository %>"> 
                        <strong><%= d.name %></strong>
                      </a>
                      <span><%= d.constraint.to_s %></span>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="guide-content">
            <%= content %>
          </div>
        </div>
      </div>
    </article>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.1.0/build/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/mint-lang/highlightjs-mint/dist/mint.min.js"></script>
    <script src="<%= @base %>app.js"></script>
  </body>
</html>
