<h1>
  <%= stringify(node) %>
  <div class="type-badge" data-type="provider"></div>
  <%= source_url(node) %>
</h1>

<%= comment(node) %>

<h2>Functions</h2>

<% node.functions.sort_by(&.name.value).each do |f| %>
  <%= generate(f) %>
<% end %>