<h1>
  <%= stringify(node) %>
  <div class="type-badge" data-type="type"></div>
  <a class="github-source-link" href="<%= git_url(node) %>"></a>
</h1>

<h2>Fields</h2>

<% node.fields.sort_by{|f| stringify(f) }.each do |f| %>
  <%= generate(f) %>
<% end %>