<a name="<%= stringify(node) %>"></a>
  
<div class="entity">
  <div class="entity__signature">
    <a class="entity__name" href="<%= anchor_url(node) %>">
      <div><%= node.key.value %></div>
    </a>

    <%= generate(node.type) %>

    <%= source_url(node) %>
  </div>
</div>