body {
  grid-template-columns: max-content 1fr;
  font-family: sans-serif;
  background: #FCFCFC;
  min-height: 100vh;
  display: grid;
  color: #333;
  margin: 0;
}

aside {
  background: #F5F5F5;
  padding: 20px;
  color: #444;
}

aside a {
  text-decoration: none;
  padding-right: 40px;
  align-items: center;
  margin-bottom: 5px;
  display: flex;
  color: inherit;
}

aside a span {
  font-weight: bold;
  font-size: 14px;
}

section {
  padding: 30px;
}

.badge {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  margin-right: 7px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 12px;
  height: 20px;
  width: 20px;
  color: #FFF;
}

.badge--store {
  background: #d02e2e;
}

.badge--component {
  background: #369e58;
}

.badge--module {
  background: #be08d0;
}

.subtitle {
  border-bottom: 2px solid #EEE;
  margin-bottom: 20px;
  margin-top: 30px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
}

.title {
  font-weight: bold;
  font-size: 30px;
}

.title span {
  font-weight: normal;
  opacity: 0.4;
}

.title span:after {
  content: ": ";
}

.type {
  display: inline-block;
  color: #3c90ff;
}

.type + .type::before {
  content: ", ";
}

.function {
}

.function + .function {
  border-top: 1px dashed #DDD;
  padding-top: 20px;
  margin-top: 20px;
}

.function__definition {
  font-family: monospace;
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.function__name {
  display: inline-block;
  font-weight: bold;
  color: #2f9e59;
}

.function__argument {
  display: inline-block;
}

.function__argument + .function__argument::before {
  content: ", ";
}

.source {
  margin-top: 10px;
}

.source pre {
  border: 1px solid #EEE;
  background: #FFF;
  font-size: 14px;
  padding: 10px;
  display: none;
}

.source input {
  display: none;
}

.source label {
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  opacity: 0.75;
}

.source input:checked + pre {
  display: block;
}

.property__default {
  margin-left: 20px;
  margin-top: 15px;
  white-space: pre;
  padding: 5px;
}

.property__default-inline {
  display: inline-block;
  padding: 5px 7px;
}

.property__default-inline,
.property__default {
  border: 1px solid #EEE;
  font-size: 14px;
}

.sidebar-header {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}

.sidebar-header:not(:first-child) {
  margin-top: 30px;
}
