<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/external-stylesheets.css">
  </head>
  <body>
    <script src="/external-javascripts.js"></script>
    <script type="text/javascript">
      window.TEST_ID = "<%= @test_id %>";
    </script>
    <script src="/tests" type="module"></script>
    <div id="root">
    </div>
  </body>
</html>
